In [4]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.neural_network import MLPClassifier



from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

from sklearn.model_selection import train_test_split

from sklearn.metrics import roc_curve, roc_auc_score

import glob
import os

In [5]:
pd.set_option("display.max_columns", 100)
%matplotlib inline

In [6]:
RANDOM_SEED = 6

In [7]:
DATA_PATH = Path.cwd() / ""
train_df = pd.read_csv(DATA_PATH / "train.csv", index_col="tripid")
train_df['checkout_datetime'] = pd.to_datetime(train_df['drop_time'])
train_df['checkin_datetime'] = pd.to_datetime(train_df['pickup_time'])
#train_df['duration'] = train_df['checkout_datetime']-train_df['checkin_datetime']
train_df['duration_in_minutes'] = (train_df['checkout_datetime']-train_df['checkin_datetime'])/pd.Timedelta(minutes=1)
train_df['lat']  = abs(train_df['pick_lat']-train_df['drop_lat'])
train_df['lon']  = abs(train_df['pick_lon']-train_df['drop_lon'])
#train_df['distance'] = (((train_df['lat'])**2 + (train_df['lon'])**2)**(1/2))*100
#train_df['manhatton_distance'] = (train_df['lat'] + train_df['lat'])

#train_df.loc[train_df['meter_waiting_fare'] > 0, 'is_meter_waiting_fare'] = 1
#train_df.loc[train_df['meter_waiting_fare'] <= 0, 'is_meter_waiting_fare'] = 0

#train_df['meter_waiting_fare'] = train_df['meter_waiting_fare'].astype(np.int64)


#train_df['is_waiting_fare'] = train_df['meter_waiting']*train_df['meter_waiting_fare']
#train_df['waiting_till_pickup_fare'] = train_df['meter_waiting_till_pickup']*train_df['meter_waiting_fare']

train_df['date_time'] = pd.to_datetime(train_df['drop_time'])
train_df['drop_Hour'] = train_df['date_time'].apply(lambda x: x.hour+1)
#train_df['weekday'] = train_df['date_time'].apply(lambda x: x.weekday())
train_df['remaining_fare'] = train_df['fare']-train_df['additional_fare']-train_df['meter_waiting_fare']
train_df['mobile_time'] = train_df['duration']-train_df['meter_waiting']-train_df['meter_waiting_till_pickup']

#train_df
#train_df['pick_Hour'] = pd.to_datetime(train_df['pickup_time'])
#train_df['pick_Hour'] = train_df['pick_Hour'].apply(lambda x: x.hour+1)

#features_df_num = train_df.drop(["date_time","pickup_time","drop_time","duration","checkin_datetime","drop_lat","drop_lon","checkout_datetime", "label"], axis = 1)
features_df = train_df.drop(["date_time","duration","pickup_time","drop_time","checkin_datetime","drop_lat","drop_lon","pick_lat","pick_lon","checkout_datetime", "label"], axis = 1)

pure_train_df = train_df.drop(["label"], axis = 1)
categorical_features = pure_train_df.columns[pure_train_df.dtypes == "object"].values


label_df = train_df[["label"]]
label_df = label_df.replace({'label': {'correct': 1, 'incorrect': 0}})

features_df

,additional_fare,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare,duration_in_minutes,lat,lon,drop_Hour,remaining_fare,mobile_time
tripid,,,,,,,,,,,
189123628,10.5,56.0,0.0000,64.0,270.32,14.0,0.04078,0.0210,1,259.8200,714.0
189125358,10.5,47.0,0.0000,134.0,197.85,13.0,0.02784,0.0061,2,187.3500,610.0
189125719,10.5,80.0,0.0000,61.0,301.64,18.0,0.02830,0.0495,2,291.1400,946.0
189127273,10.5,271.0,15.6638,68.0,82.30,10.0,0.00178,0.0076,3,56.1362,259.0
189128020,NaN,NaN,NaN,NaN,358.39,17.0,0.02963,0.0675,4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,93.0,5.4219,451.0,198.26,14.0,0.00182,0.0190,23,182.3381,294.0
213812756,10.5,428.0,0.0000,39.0,581.23,36.0,0.04520,0.0873,24,570.7300,1684.0
213813930,10.5,9.0,0.0000,110.0,76.20,4.0,0.00925,0.0017,24,65.7000,144.0
213815405,10.5,115.0,0.0000,317.0,133.31,14.0,0.00966,0.0242,24,122.8100,426.0
213817296,10.5,21.0,1.2243,23.0,98.57,4.0,0.00566,0.0183,24,86.8457,218.0

In [8]:
features_list = features_df.columns.tolist()
features_list

['additional_fare',
 'meter_waiting',
 'meter_waiting_fare',
 'meter_waiting_till_pickup',
 'fare',
 'duration_in_minutes',
 'lat',
 'lon',
 'drop_Hour',
 'remaining_fare',
 'mobile_time']

In [9]:
## chain numerical preprocessing into a pipeline object
numeric_preprocessing_steps = Pipeline([
    ('simple_imputer', SimpleImputer(strategy='most_frequent')),
    ('minmax_scaler', MinMaxScaler())
])

## chain non-numerical preprocessing into a pipeline object
non_numeric_preprocessing_steps = Pipeline([
    ('simple_imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot_encoder', OneHotEncoder(handle_unknown='ignore')),
#     ('label_encoder', LabelEncoder())
])

## create preprocessor stage of the final pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('numeric', numeric_preprocessing_steps, features_list)
    ],
    remainder = 'drop'
)

In [10]:
#estimator =  RandomForestClassifier( class_weight='balanced', n_estimators=500, criterion="entropy")
#estimator =  RandomForestClassifier( class_weight='balanced', n_estimators=400)
estimator = MLPClassifier(solver='adam', alpha=1e-5,hidden_layer_sizes=(11,121,1331,14000), random_state=1, learning_rate = 'adaptive')

#estimator = KNeighborsClassifier(n_neighbors=100, weights="uniform", algorithm="brute")
#estimator = AdaBoostClassifier()
#estimator =  RandomForestClassifier( class_weight='balanced', n_estimators=400, max_depth=200, max_features=10)

In [11]:
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('estimators', estimator)
])

In [12]:
features_df

,additional_fare,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare,duration_in_minutes,lat,lon,drop_Hour,remaining_fare,mobile_time
tripid,,,,,,,,,,,
189123628,10.5,56.0,0.0000,64.0,270.32,14.0,0.04078,0.0210,1,259.8200,714.0
189125358,10.5,47.0,0.0000,134.0,197.85,13.0,0.02784,0.0061,2,187.3500,610.0
189125719,10.5,80.0,0.0000,61.0,301.64,18.0,0.02830,0.0495,2,291.1400,946.0
189127273,10.5,271.0,15.6638,68.0,82.30,10.0,0.00178,0.0076,3,56.1362,259.0
189128020,NaN,NaN,NaN,NaN,358.39,17.0,0.02963,0.0675,4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
213803193,10.5,93.0,5.4219,451.0,198.26,14.0,0.00182,0.0190,23,182.3381,294.0
213812756,10.5,428.0,0.0000,39.0,581.23,36.0,0.04520,0.0873,24,570.7300,1684.0
213813930,10.5,9.0,0.0000,110.0,76.20,4.0,0.00925,0.0017,24,65.7000,144.0
213815405,10.5,115.0,0.0000,317.0,133.31,14.0,0.00966,0.0242,24,122.8100,426.0
213817296,10.5,21.0,1.2243,23.0,98.57,4.0,0.00566,0.0183,24,86.8457,218.0

In [13]:
X_train, X_eval, y_train, y_eval = train_test_split(features_df, label_df, test_size=0.3, shuffle=True, stratify=label_df, random_state=RANDOM_SEED)

## Train the model
pipeline.fit(X_train, y_train)

# Predict for the evaluation set

print("Training Accuracy: %.2f" % (pipeline.score(X_eval, y_eval)*100), "%")
preds = pipeline.predict_proba(X_eval)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:916: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training Accuracy: 94.22 %

In [14]:
pipeline.fit(features_df, label_df)

None

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:916: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
test_set = pd.read_csv(DATA_PATH / "test.csv", index_col="tripid")
test_set.head()

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare
tripid,,,,,,,,,,,,
213284604,10.5,924,42,2.4486,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27
213286352,10.5,4249,20,0.0000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70
213293973,10.5,1552,255,2.6588,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00
213294622,10.5,462,16,0.0000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32
213298687,10.5,814,392,12.3692,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47

In [16]:
test_set['checkout_datetime'] = pd.to_datetime(test_set['drop_time'])
test_set['checkin_datetime'] = pd.to_datetime(test_set['pickup_time'])
#train_df['duration'] = train_df['checkout_datetime']-train_df['checkin_datetime']
test_set['duration_in_minutes'] = (test_set['checkout_datetime']-test_set['checkin_datetime'])/pd.Timedelta(minutes=1)
test_set['lat']  = abs(test_set['pick_lat']-test_set['drop_lat'])
test_set['lon']  = abs(test_set['pick_lon']-test_set['drop_lon'])
#test_set.loc[test_set['meter_waiting_fare'] > 0, 'is_meter_waiting_fare'] = 1
#test_set.loc[test_set['meter_waiting_fare'] <= 0, 'is_meter_waiting_fare'] = 0
test_set['date_time'] = pd.to_datetime(test_set['drop_time'])
test_set['drop_Hour'] = test_set['date_time'].apply(lambda x: x.hour+1)
test_set['remaining_fare'] = test_set['fare']-test_set['additional_fare']-test_set['meter_waiting_fare']
test_set['mobile_time'] = test_set['duration']-test_set['meter_waiting']-test_set['meter_waiting_till_pickup']

#test_set['distance'] = ((test_set['lat'])**2 + (test_set['lat'])**2)**(1/2)

new_test_set = test_set.drop(["date_time","duration","pickup_time","drop_time","pick_lat","pick_lon","checkin_datetime","drop_lat","drop_lon","checkout_datetime"], axis = 1)

#new_test_set = test_set.drop(["date_time","pickup_time", "drop_time","duration","meter_waiting_fare","drop_lat","drop_lon","checkin_datetime", "checkout_datetime"], axis = 1)
new_test_set

,additional_fare,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare,duration_in_minutes,lat,lon,drop_Hour,remaining_fare,mobile_time
tripid,,,,,,,,,,,
213284604,10.5,42,2.44860,148,289.27,15.0,0.05964,0.0090,1,276.32140,734
213286352,10.5,20,0.00000,91,1912.70,71.0,0.36077,0.0983,3,1902.20000,4138
213293973,10.5,255,2.65880,23,394.00,26.0,0.01606,0.0511,6,380.84120,1274
213294622,10.5,16,0.00000,198,154.32,8.0,0.02968,0.0009,6,143.82000,248
213298687,10.5,392,12.36920,69,147.47,14.0,0.00907,0.0216,8,124.60080,353
...,...,...,...,...,...,...,...,...,...,...,...
222856243,10.5,429,24.83332,3,388.48,28.0,0.00485,0.0353,22,353.14668,1291
222857785,10.5,80,0.00000,125,379.85,23.0,0.00819,0.0676,23,369.35000,1173
222858416,10.5,56,3.28440,93,112.79,7.0,0.01850,0.0002,23,99.00560,269
222858691,10.5,548,31.67440,17,248.46,27.0,0.01870,0.0299,23,206.28560,1039
222860703,10.5,691,32.88820,42,339.63,28.0,0.04662,0.0148,24,296.24180,965

In [17]:
test_probs = pipeline.predict_proba(new_test_set)

In [18]:
test_probs

array([[0.02183086, 0.97816914],
       [0.18612845, 0.81387155],
       [0.01066879, 0.98933121],
       ...,
       [0.0235792 , 0.9764208 ],
       [0.02090565, 0.97909435],
       [0.02025748, 0.97974252]])

In [311]:
submission_set = pd.read_csv(DATA_PATH / "sample_submission.csv", index_col="tripid")
submission_set.head()

           prediction
tripid
213284604           1
213286352           0
213293973           0
213294622           1
213298687           1

In [312]:
try:
    np.testing.assert_array_equal(test_set.index.values, submission_set.index.values)
    print("rows in the same order")
except:
    print("rows not in the same order or error")

rows in the same order

In [313]:
submission_set['prediction'] = test_probs[:,1]

In [314]:
submission_set

           prediction
tripid
213284604       0.972
213286352       0.568
213293973       0.800
213294622       0.970
213298687       0.976
213299545       0.656
213302332       0.994
213302671       0.954
213305594       1.000
213305134       0.972
213306304       0.976
213308616       0.980
213309839       0.870
213310068       0.010
213309032       0.996
213310105       0.990
213311364       0.984
213309929       0.988
213310221       0.992
213312453       1.000
213313921       0.990
213314038       0.980
213314867       1.000
213316124       1.000
213315491       0.986
213315522       0.990
213317715       1.000
213316458       0.968
213316409       0.958
213317742       0.994
...               ...
222825708       0.926
222826396       0.994
222826895       0.934
222826635       0.922
222827460       0.870
222828746       0.992
222830021       0.966
222830132       1.000
222830743       0.700
222831987       0.664
222833285       0.984
222833707       0.982
222832962       1.000
222835856       0.978
222837330       0.994
222837378       0.972
222837360       0.930
222840348       0.992
222849083       0.978
222850789       0.902
222851642       1.000
222854087       0.976
222853276       0.950
222854061       0.998
222855526       0.992
222856243       0.904
222857785       0.998
222858416       0.996
222858691       0.978
222860703       0.938

[8576 rows x 1 columns]

In [315]:
submission_set.loc[submission_set['prediction'] > 0.5, 'prediction'] = 1
submission_set.loc[submission_set['prediction'] <= 0.5, 'prediction'] = 0
submission_set['prediction'] = submission_set['prediction'].astype(np.int64)


#submission_set['presiction'].convert_dtypes(convert_integer: bool = True)
submission_set

           prediction
tripid
213284604           1
213286352           1
213293973           1
213294622           1
213298687           1
213299545           1
213302332           1
213302671           1
213305594           1
213305134           1
213306304           1
213308616           1
213309839           1
213310068           0
213309032           1
213310105           1
213311364           1
213309929           1
213310221           1
213312453           1
213313921           1
213314038           1
213314867           1
213316124           1
213315491           1
213315522           1
213317715           1
213316458           1
213316409           1
213317742           1
...               ...
222825708           1
222826396           1
222826895           1
222826635           1
222827460           1
222828746           1
222830021           1
222830132           1
222830743           1
222831987           1
222833285           1
222833707           1
222832962           1
222835856           1
222837330           1
222837378           1
222837360           1
222840348           1
222849083           1
222850789           1
222851642           1
222854087           1
222853276           1
222854061           1
222855526           1
222856243           1
222857785           1
222858416           1
222858691           1
222860703           1

[8576 rows x 1 columns]

In [316]:
submission_set.to_csv('160374E_submission_10_95_25.csv', index=True)
print("Completed!")

Completed!